.form {
  padding: 34px 36px 36.51px;
  width: 100%;
  max-width: 430px;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  border-radius: 10px;
  box-sizing: border-box;
}

.form_type_confirm {
  min-height: 0;
  min-width: 400px;
  padding: 34px 36px;
}

.form__title {
  align-self: flex-start;
  margin: 0 auto;
}
.form__input {
  border: none;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
  width: 100%;
  height: 100%;
  padding-bottom: 13.34px;
  max-height: 27.34px;
  box-sizing: border-box;
}

.form__input_type_error {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.form__input-error {
  display: inline-block;
  color: rgba(255, 0, 0, 1);
  margin-bottom: 30px;
  opacity: 0;
}

.form__input-error_active {
  opacity: 1;
}

.form__input_type_name {
  margin: 54px auto 7px;
}

.form__input_type_about {
  margin-bottom: 7px;
}

.form__button {
  margin: 18px auto 36px;
}

@media screen and (max-width: 540px) {
  .form_type_confirm {
    max-width: 350px;
  }
}

@media screen and (max-width: 435px) {
  .form {
    max-width: 282px;
  }
  .form__input {
    padding-bottom: 9px;
  }

  .form__input_type_name {
    margin: 76px auto 7px;
  }
  .form__button {
    margin-top: 16px;
  }
}
